body {

    background-image: url(https://th.bing.com/th/id/R.030baa83576b513987576aca335bcb35?rik=0kqgT3VTvZuTVA&riu=http%3a%2f%2f24.media.tumblr.com%2f5da3447d38dd187c0409b24d275b6fca%2ftumblr_myadbyUHkS1s2xab7o1_500.gif&ehk=AaBqrSxoQ6kUT5rW7EnhzZ%2fc6cpbZlb%2b2aO3LtiOhjU%3d&risl=&pid=ImgRaw&r=0);
    background-position: bottom;
    background-size: cover;
    touch-action: manipulation;
}

.net {
    background-image: url(https://th.bing.com/th/id/R.237f23b694ddcf9e93b323b9c9530999?rik=hPXeC6GrV3nwUg&riu=http%3a%2f%2fclipart-library.com%2fimg%2f937517.png&ehk=rPsRrJ69kmu6pKWnEhLhKALrIlI628yDRNzccpxN7Z4%3d&risl=1&pid=ImgRaw&r=0);
    background-position: center;
    background-size: cover;
    margin: 6em;
    padding-top: 3em;
    padding-bottom: 3em;
}


img {
    cursor: grab;
}

@media (max-width: 768px) {

    .net {
        margin: 0;
        padding-top: 6em;
        padding-bottom: 4em;
    }
}